<%= link_to 'Download XlSX', demo_url(params[:id], format: 'xlsx') %>

<div style='float: right; padding: 10px; color: #f5f5f5; background-color: #8b4513;'>
  <pre># File: <%= path = "app/views/demos/#{params[:id]}.html.erb" %>

<%= File.read(path).sub /.*\n+/, '' %></pre>
</div>
